<!DOCTYPE html>
<html>
<head>
    <title>Carrito de compras</title>
    
    <link rel="stylesheet" href="/css/carrito.css">
</head>
<body>
    <h1>Carrito de compras</h1>
    <table>
        <tr>
            <th>Producto</th>
            
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
        <!-- Aquí irían las filas con los productos en el carrito -->
    </table>
    <p class="total">Total: $4000</p>
    <button class="checkout-btn">COMPRAR DE PAGO</button>




    

    <h1> Nombre del producto</h1>






    <h1>Carrito de compras</h1>
    <table>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
        <div class="producto">
            <h2 class="descripciones">HAMBURGUESA</h2>
            <img src="/images/Hamburguesa.jpg" alt="Hamburguesa">
            <p class="precios">$70.500</p>
            <p class="descuentos">10% OFF</p>
        </div>
    
    </table>
    <p class="total">Total: $4000</p>
    <button class="checkout-btn">Proceder al pago</button>
    <button class="empty-btn">Vaciar carrito</button>


    <table>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
        <div class="producto">
            <h2 class="descripciones">PIZZA</h2>
            <img src="/images/pizza.webp" alt="Pizza">
            <p class="precios">$70.500</p>
            <p class="descuentos">10% OFF</p>
        </div>
    </table>
    <p class="total">Total: $4000</p>
    <button class="checkout-btn">Proceder al pago</button>
    <button class="empty-btn">Vaciar carrito</button>


    <table>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
        <div class="producto">
            <h2 class="descripciones">PAPAS</h2>
            <img src="/images/pizza.webp" alt="Papas">
            <p class="precios">$70.500</p>
            <p class="descuentos">10% OFF</p>
        </div>
    </table>
    <p class="total">Total: $4000</p>
    <button class="checkout-btn">Proceder al pago</button>
    <button class="empty-btn">Vaciar carrito</button>


    <table>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
        <!-- Aquí irían las filas con los productos en el carrito -->
    </table>
    <p class="total">Total: $4000</p>
    <button class="checkout-btn">Proceder al pago</button>
    <button class="empty-btn">Vaciar carrito</button>

    <button class="btn">COMPRAR CARRITO<span class="icon">🛒</span></button>
    <button class="btn">METODOS DE PAGO<span class="icon">💳</span></button>

    <script>
        var buttons = document.querySelectorAll(".btn");
        buttons.forEach(function(button) {
            button.addEventListener("click", function() {
                alert("Botón presionado: " + this.textContent);
            });
        });
    </script>
    

    <div class="dropdown">
        <select>
            <option disabled selected>Métodos de pago</option>
            <option>Tarjeta de crédito</option>
            <option>MODO</option>
            <option>Transferencia bancaria</option>
        </select>
    </div>

</body>
</html>





