<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <img src="img/logo2.png" alt="logo">
            </div>

            <ul>
                <li>
                    <form action="">
                        <input type="search" name="" id="" placeholder="Buscar producto">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </form>
                </li>

                <li>
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>

                <li>
                    <a href="#"><i class="fa-solid fa-circle-user"></i></a>
                </li>

                <li>
                    <a href="#"><i class="fa-solid fa-bars"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div class="banner">
            <img src="img/banner.png" alt="banner">
        </div>

        <section class="categorias">
            <h3>Categorías</h3>

            <article class="categorias-producto">
                <div>
                    <img src="" alt="Categoría nombre">
                </div>

                <div class="categoria">
                    <h4>Categoría</h4>
                </div>
            </article>

            <article class="categorias-producto">
                <div>
                    <img src="" alt="Categoría nombre">
                </div>

                <div class="categoria">
                    <h4>Categoría</h4>
                </div>
            </article>

            <article class="categorias-producto">
                <div>
                    <img src="" alt="Categoría nombre">
                </div>

                <div class="categoria">
                    <h4>Categoría</h4>
                </div>
            </article>
        </section>

        <section class="menu-del-dia">
            <h3>Menú del día</h3>

            <article class="menu-producto">
                <div>
                    <img src="" alt="Producto">
                </div>

                <p>
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <p>
                    <i class="fa-solid fa-dollar-sign"></i>
                    Precio
                </p>

                <button>
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>

            <article class="menu-producto">
                <div>
                    <img src="" alt="Producto">
                </div>

                <p>
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <p>
                    <i class="fa-solid fa-dollar-sign"></i>
                    Precio
                </p>

                <button>
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>

            <article class="menu-producto">
                <div>
                    <img src="" alt="Producto">
                </div>

                <p>
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <p>
                    <i class="fa-solid fa-dollar-sign"></i>
                    Precio
                </p>

                <button>
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>
        </section>

        <section class="combos">
            <h3>Combos</h3>

            <article class="combos-producto">
                <div>
                    <img src="" alt="Producto">
                </div>

                <p>
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <p>
                    <i class="fa-solid fa-dollar-sign"></i>
                    Precio
                </p>

                <button>
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>

            <article class="combos-producto">
                <div>
                    <img src="" alt="Producto">
                </div>

                <p>
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <p>
                    <i class="fa-solid fa-dollar-sign"></i>
                    Precio
                </p>

                <button>
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>

            <article class="combos-producto">
                <div>
                    <img src="" alt="Producto">
                </div>

                <p>
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <p>
                    <i class="fa-solid fa-dollar-sign"></i>
                    Precio
                </p>

                <button>
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>
        </section>
    </main>

    <footer>
        <section class="contactos">
            <h3>Contactanos</h3>
    
            <a href="#">
                <i class="fa-brands fa-twitter"></i>
                cuenta2023@twitter.com
            </a>

            <a href="#">
                <i class="fa-brands fa-facebook"></i>
                cuenta2023@facebook.com
            </a>

            <a href="#">
                <i class="fa-brands fa-instagram"></i>
                cuenta2023@instagram.com
            </a>

            <a href="#">
                <i class="fa-solid fa-phone"></i>
                +00 0 0000000000
            </a>
        </section>

        <section class="informacion">
            <a href="#">Más sobre nosotros</a>
            <a href="#">Términos y condiciones</a>
            <a href="#">Política de privacidad</a>
        </section>
    </footer>
</body>
</html>