<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <img src="img/logo.png" alt="logo">
            </div>

            <form action="" class="barra-de-busqueda">
                <input type="" name="" id="" placeholder="Buscar producto" class="buscar">
                <button class="icono-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>

            <ul class="accesos">
                <li>
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>

                <li>
                    <a href="#"><i class="fa-solid fa-circle-user"></i></a>
                </li>

                <li>
                    <a href="#"><i class="fa-solid fa-bars"></i></a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="banner">
            <img src="img/banner.png" alt="banner">
        </div>

        <section class="categorias">
            <h3 class="texto-categorias">Categorías</h3>

            <article class="categorias-producto">
                <div>
                    <img src="img/prueba.png" alt="Categoría nombre" class="img-categoria">
                </div>

                <h4 class="nombre-categoria">Categoría</h4>
            </article>

            <article class="categorias-producto">
                <div>
                    <img src="img/prueba.png" alt="Categoría nombre" class="img-categoria">
                </div>

                <h4 class="nombre-categoria">Categoría</h4>
            </article>

            <article class="categorias-producto">
                <div>
                    <img src="img/prueba.png" alt="Categoría nombre" class="img-categoria">
                </div>

                <h4 class="nombre-categoria">Categoría</h4>
            </article>

            <article class="categorias-producto">
                <div>
                    <img src="img/prueba.png" alt="Categoría nombre" class="img-categoria">
                </div>

                <h4 class="nombre-categoria">Categoría</h4>
            </article>

            <article class="categorias-producto">
                <div>
                    <img src="img/prueba.png" alt="Categoría nombre" class="img-categoria">
                </div>

                <h4 class="nombre-categoria">Categoría</h4>
            </article>
        </section>

        <section class="menu-del-dia">
            <h3 class="texto-menu">Menú del día</h3>

            <article class="menu-producto">
                <div>
                    <img src="img/prueba.png" alt="Producto" class="img-menu">
                </div>

                <p class="descripcion">
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    2000
                </h5>

                <button class="añadir">
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>

            <article class="menu-producto">
                <div>
                    <img src="img/prueba.png" alt="Producto" class="img-menu">
                </div>

                <p class="descripcion">
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    2000
                </h5>

                <button class="añadir">
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>

            <article class="menu-producto">
                <div>
                    <img src="img/prueba.png" alt="Producto" class="img-menu">
                </div>

                <p class="descripcion">
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    2000
                </h5>

                <button class="añadir">
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>

            <article class="menu-producto">
                <div>
                    <img src="img/prueba.png" alt="Producto" class="img-menu">
                </div>

                <p class="descripcion">
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    2000
                </h5>

                <button class="añadir">
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>
        </section>

        <section class="combos">
            <h3 class="texto-combos">Combos</h3>

            <article class="combos-producto">
                <div class="div-img-combo">
                    <a href="/productDetail"> <img src="img/prueba.png" alt="Producto" class="img-combo"> </a>
                </div>

                <h4 class="combo-nombre">Nombre del producto</h4>

                <p class="descripcion">
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    2000
                </h5>

                <button class="añadir">
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>

            <article class="combos-producto">
                <div class="div-img-combo">
                    <a href="/productDetail"><img src="img/prueba.png" alt="Producto" class="img-combo"></a>
                </div>

                <h4 class="combo-nombre">Nombre del producto</h4>

                <p class="descripcion">
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    2000
                </h5>

                <button class="añadir">
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>

            <article class="combos-producto">
                <div>
                    <a href="/productDetail"><img src="img/prueba.png" alt="Producto" class="img-combo"></a>

                </div>

                <p class="descripcion">
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    2000
                </h5>

                <button class="añadir">
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>

            <article class="combos-producto">
                <div>
                    <a href="/productDetail"><img src="img/prueba.png" alt="Producto" class="img-combo"></a>

                </div>

                <p class="descripcion">
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    2000
                </h5>

                <button class="añadir">
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>
        </section>
    </main>

    <footer>
        <section class="contactos">
            <h3 class="texto-contactos">Contactanos</h3>

            <div class="cuentas">
                <a href="#">
                    <i class="fa-brands fa-twitter"></i>
                    cuenta2023@twitter.com
                </a>

                <a href="#">
                    <i class="fa-brands fa-facebook"></i>
                    cuenta2023@facebook.com
                </a>

                <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                    cuenta2023@instagram.com
                </a>

                <a href="#">
                    <i class="fa-solid fa-phone"></i>
                    +00 0 0000000000
                </a>
            </div>
        </section>

        <section class="informacion">
            <a href="#">Más sobre nosotros</a>
            <a href="#">Términos y condiciones</a>
            <a href="#">Política de privacidad</a>
        </section>
    </footer>
</body>

</html>