<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <header>
        <img class="logo" src="/img/logo-appetite.png" alt="" width="90px" height="90px">
            <form action="" class="barra-de-busqueda">
            <input type="" name="" id="" placeholder="BARRA DE BÚSQUEDA" class="buscar">
        </form>
        <button class="lupa" ><img src="/img/magnifying-glass-solid.svg" alt="" width="25px" height="25px"></button>
        <nav class="Iniciodesesión">
            <i>INICIAR SESIÓN</i><img class="inicioimg" src="/img/right-to-bracket-solid.svg" alt="" width="25px" height="25px"></nav>
        <nav class="Registro">
            <i>REGISTRO</i><img class="userimg" src="/img/user-solid.svg" alt="" width="25px" height="25px"></nav>
        <nav class="Traductor">
            <i>IDIOMA</i><img class="traductorimg" src="/img/language-solid.svg" alt="" width="25px" height="25px"></nav>
        <nav class="Carrito">
            <i>CARRITO</i><img class="carritoimg" src="/img/cart-shopping-solid.svg" alt="" width="25px" height="25px"></nav>
    </header>
    <div class="none">Iniciar sesión con:</div>
<div class="modos">
    <img class="img1" src="/img/google.svg" alt="" weigth="100px" height="100px">
    <img class="img2" src="/img/facebook.svg" alt="" weigth="110px" height="110px">
</div>
<div class="container">

<div class="modo1"><form action="">
    <input type="text" placeholder="E-mail o nombre de usuario" class="formdelusuario">
</form>
<input type="radio" name="completar">
    <label for="completar">"jxskjxsijcs@xgmail.com"</label>

<div>
    <input type="radio" name="completar">
    <label for="completar">"jsjaisads@xgmail.com"</label>
</div>

<div>
    <input type="radio" name="completar">
    <label for="completar">"Gestionar cuentas"</label>
</div>
</div>


<div class="container2"><form action="">
    <input type="Password" placeholder="Contraseña" class="formdelpassword">
</form>
    <input type="radio" name="mensaje">
    <label for="mensaje">********** Completar contraseña</label>
</div>

    <div class="Pregunta"><a href="#">¿Olvidaste tu contraseña?</a></div>
</div>
</body>
</html>