<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
        <img class="logo" src="/img/logo-appetite.png" alt="" weigth="70px" height="80px">
    <header>
        <div class="navBar"><form action="">
                <input type="" name="" id="" placeholder="Barra de búsqueda" >
            </form>
        </div>
            <div class="Iniciodesesión"><i>Inicio de sesión</i><img class="inicioimg" src="/img/right-to-bracket-solid.svg" alt="" weigth="25px" height="25px"></div>
            <div class="Registro"><i>Registro</i><img class="userimg" src="/img/user-solid.svg" alt="" weigth="25px" height="25px"></div>
            <div class="Idioma"><i>Idioma</i><img class="traductorimg" src="/img/language-solid.svg" alt="" weigth="25px" height="25px"></div>
            <div class="Carrito"><i>Carrito</i><img class="Carritoimg" src="/img/cart-shopping-solid.svg" alt="" weigth="25px" height="25px"></div>
    </header>
</head>
<body>
    <div class="none">Iniciar sesión con:</div>
<div class="modos">
    <img class="img1" src="/img/google.svg" alt="" weigth="70px" height="70px">
    <img class="img2" src="/img/google.svg" alt="" weigth="70px" height="70px">
</div>
<div class="container">

<div class="modo1"><form action="">
    <input type="text" placeholder="E-mail o nombre de usuario" class="formdelusuario">
</form>
</div>

<div class="container2"><form action="">
    <input type="Password" placeholder="Contraseña" class="formdelpassword">
</form>
</div>
    <div class="Pregunta"><a href="#">¿Olvidaste tu contraseña?</a></div>
</div>
</body>
</html>