<head>
    <title> Register </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <script src="https://kit.fontawesome.com/c85042c871.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    <header class="menu">
        <img class="logo" src="img/logo.png" alt="logo">
        <nav> Buscar... </nav> 
        <section>
            <div> <i class="fa-solid fa-right-to-bracket"></i> <div>Iniciar sesion </div> </div>
            <div> <i class="fa-solid fa-user-plus"></i>  <div> Registrar </div>  </div>
            <div>  <i class="fa-solid fa-language"></i> <div> Idiomas </div> </div>
            <div> <i class="fa-solid fa-cart-shopping"></i>  <div> Carrito  </div>  </div>
        </section>
    </header>
    <h1> Registrate con:</h1>
    <section class="externos">
        <div>
            <a href="#"><img src="img/Google.png" alt="Google"></a>
        </div>
        <div>
            <a href="#"><img src="img/Facebook.png" alt="Facebook"></a>
        </div>
    </section>
    <section class="registro">
    <div>
        <form action="" method="post">
            <label for="nombre"> Nombre</label>
            <input type="text" name="Nombre" id="nombre">
        </form>
    </div>
    <div>
        <form action="" method="post">
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" id="apellido">
        </form>
    </div>
    <div>
        <form action="" method="post">
            <label for="contraseña">Contraseña</label>
            <input type="password" name="contraseña" id="contraseña">
        </form>
    </div>
    <div>
        <form action="" method="post">
            <label for="rcontraseña">Repetir Contraseña</label>
            <input type="password" name="rcontraseña" id="rcontraseña">
        </form>
    </div>
    </section>
</body>