*{
    margin: 0px;
    padding: 0px;
}
main{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.create{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}
.create>form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    height: 100%;
}
.create div label {
    display: block;
  margin-bottom: 8px;
}
.create div input{
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
div input:hover{
    border-color: #2980b9
}
.button-container{
    display: flex;
    justify-content: center;
}
.categoria {
    padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 9px;
}
.categoria::ms-expand{
    display: none;
}
.categoria::after{
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.categoria:focus, .categoria:hover {
    border-color: #2980b9
}
.categoria option{
    padding: 10px;
}
.button-container>button{
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button-container>button:hover{
    background-color: #2980b9;
}