* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------- HEADER -------------------- */

.nav-bar {
    height: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    display: flex;
    margin-left: 10px;
}

.logo img {
    width: 80px;
}

.barra-de-busqueda {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex-grow: 1;
}

.buscar {
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
}

.icono-busqueda {
    padding: 8px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
}

.accesos {
    list-style: none;
    display: flex;
    width: 100px;
    justify-content: space-around;
    gap: 15px;
    margin-right: 12px;
}

.accesos a {
    color: inherit;
}

.accesos i {
    font-size: 20px;
}


/* -------------------- MAIN -------------------- */

.banner img {
    width: 100%;
}

/* ----- categorías ----- */

.categorias {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categorias-producto {
    width: 45%;
    margin-bottom: 30px;
}
.categorias-producto div {
    margin-bottom: 5%;
    transition: transform 0.3s ease-in-out
}
.categorias-producto div:hover{
    transform: scale(1.1)
}
.texto-categorias {
    width: 100%;
    padding: 10px 0;
    font-size: 2em;
    margin-bottom: 5px;
}

.img-categoria {
    width: 100%;
}

.nombre-categoria {
    text-align: center;
    margin-top: 5px;
}

/* ----- menú del día ----- */

.menu-del-dia {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.texto-menu {
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: 2em;
}

.menu-producto {
    width: 80%;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu-producto div{
    margin-bottom: 5%;
    transition: transform 0.3s ease-in-out
}
.menu-producto div:hover{
    transform: scale(1.1)
}
.img-menu {
    width: 100%;
}

.descripcion {
    padding: 10px 0;
}

.precio {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.añadir {
    width: 50%;
    padding: 10px;
    right: 0;
}

/* ----- combos ----- */

.combos {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.texto-combos {
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: 2em;
}

.combos-producto {
    width: 80%;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.combos-producto div{
    margin-bottom: 5%;
    transition: transform 0.3s ease-in-out
}
.combos-producto div:hover{
    transform: scale(1.1)
}
.img-combo {
    width: 100%;
}

.combo-nombre {
    width: 100%;
    text-align: center;
}


/* -------------------- FOOTER -------------------- */

footer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.contactos {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-contactos {
    text-align: center;
    padding: 10px 0;
}

.cuentas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.informacion {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-left: 1px solid #eee;
}

.informacion a {
    text-align: center;
}


/* -------------------- MEDIA QUERIES -------------------- */

@media (min-width: 481px) {
    .categorias-producto {
        width: 30%;
    }

    .menu-del-dia {
        justify-content: space-around;
    }

    .menu-producto {
        width: 40%;
    }

    .combos-producto {
        width: 40%;
    }

    .combos {
        justify-content: space-around;
    }
}

@media (min-width: 769px) {
    .categorias-producto {
        width: 22.5%;
    }

    .menu-del-dia {
        justify-content: space-around;
    }

    .menu-producto {
        width: 26.6%;
    }

    .combos-producto {
        width: 26.6%;
    }

    .combos {
        justify-content: space-around;
    }
}

@media (min-width: 1280px) {
    .categorias-producto {
        width: 18%;
    }

    .menu-del-dia {
        justify-content: space-around;
    }

    .menu-producto {
        width: 20%;
    }

    .combos-producto {
        width: 20%;
    }

    .combos {
        justify-content: space-around;
    }


    
  .añadir{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 50px;
    margin-top: 25px;
    margin-left: 15px;
  }

  .añadir:hover {
    background-color: white;
    color: red;
    transform: scale(1.1);
  }
}