* {
    box-sizing: border-box;
}

/* Main Title */
.main-title {
    font-size: 3em;
    padding-left: 1.5em;
    margin-top: 2em;
    color: #000000;
    text-align: center;
}

/* Mode Icons */
.modos {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
    margin: 0.5em 0;
}


.img1,
.img2 {
    height: 100px;
    width: 100px;
}

.img2 {
    width: 150px;
}

/* Data Input Fields and Containers */
.main-container {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    margin-bottom: 5em;
}

.main-container form {
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    width: 40%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    margin-bottom: 2em;
}

.container input {
    border-radius: 5px;
    width: 100%;
    padding: 1.5em;
    z-index: 1;
    border: 2px solid #ddd;
    transition: border-color 0.3s;
}

.container input:focus {
    outline: none;
    border-color: #3498db;
}

.remember-button,
.submit-button {
    width: 70%;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.submit-button input {
    color: white;
    font-size: 1em;
    background-color: #3498db;
    border-radius: 8px;
    border: 2px #3498db solid;
    padding: 1.5em;
    width: 150px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.submit-button input:hover {
    background-color: #217dbb;
    border-color: #217dbb;
}

.submit-button input:focus {
    outline: none;
    border-color: #000;
}

.forgot-password {
    margin-top: 1.5em;
    margin-bottom: 3em;
    text-align: center;
}

.forgot-password a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.forgot-password a:hover {
    text-decoration: underline;
    color: #3498db;
}

/* Responsive Design */
@media (max-width: 768px) {
    .main-container form {
        width: 80%;
    }

    .container {
        width: 80%;
    }

    .remember-button,
    .submit-button {
        width: 80%;
    }
}
