head, body{
    width: 100%;
    box-sizing: content-box;
}

.logo{
    padding-left: 30px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 60px;
}

.navBar{
    position: relative;
    left: 60px;
    height: 30px;
    gap: 10px;
}

.navBar2{
    padding-left: 30px;
    padding-right: 30px;
    background-color: gray;
    padding: 10px 70px;
    text-decoration: none;

}

i{
    text-decoration: underline;
}

.lupaimg, .inicioimg, .userimg, .traductorimg, .Carritoimg{
    position: relative;
    top: 8px;
    left: 3px;
}

.none{
    font-size: 60px;
    padding-left: 40px;
}

.modos, .container, .container2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.modos .img1{
    padding-right: 170px;
}

.container, .container2{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

.container .modo1{
    background-color: gray;
    padding: 10px 90px;
    font-size: 18px;
}

.container .container2{
    background-color: gray;
    padding: 10px 148px;
    font-size: 18px;
}

.container .modo1 .formdelusuario{
    background-color: gray;
    color: black;
    margin: gray;
    border: gray;
}

.container .container2 .formdelpassword{
    background-color: gray;
    color: black;
    margin: gray;
    border: gray;
}

.container .Pregunta{
    position: relative;
    right: 70px;
    padding-top: 20px;
}

@media (min-width:361px){
}