*{
    font-family: 'REM';
    box-sizing: border-box;
}
/* Titulo Principal */
.main-title{
    font-size: 50px;
    padding-left: 30px;
    margin-top: 30px;
}
/* Iconos de modos*/
.modos{
    width:50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.img1{
    height: 100px;
    width: 100px;

}
.img2 {
    height: 110px;
    width: 150px;
}
/* Campos para llenar datos y sus contenedores */


.main-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 30%;
    margin-bottom: 35px;
}
.container input {
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    z-index: 1;
    border: 3px solid #b5b4b4;
}

.container input:focus {
    outline: none;
    border-color: rgb(0, 140, 255);
}

.remember-button {
    width: 30%;
    margin-top: -15px;
    margin-bottom: 10px;
}
.submit-button{
    width: 30%;
    margin-top: 5px;
    margin-bottom: 10px;
}
.submit-button input{
    color: white;
    font-size: 105%;
    background-color: rgb(5, 51, 255);
    border-radius: 8px;
    border: 2px rgb(5, 51, 255) solid;
    padding: 15px;
    width: 50%;
}
.submit-button input:hover{
    background-color: blue;
    border-color: blue;
}
.submit-button input:focus{
    outline: none;
    border-color: red;
}
.forgot-password{
    margin-bottom: 50px;
}
@media (max-width: 790px){
    .submit-button input{
        width: 70%;
    }
}
@media (max-width:480px){
    .modos{
        width: 75%;
    }
    .img1{
        margin-left: 15px;
    }
    .container{
        width: 70%;
    }
    .remember-button{
        width: 70%;
    }
    .submit-button{
        width: 70%;
    }

}