* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------- HEADER -------------------- */

.nav-bar {
    height: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    display: flex;
    margin-left: 10px;
}

.logo img {
    width: 80px;
}

.barra-de-busqueda {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex-grow: 1;
}

.buscar {
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
}

.icono-busqueda {
    padding: 8px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
}

.accesos {
    list-style: none;
    display: flex;
    width: 100px;
    justify-content: space-around;
    gap: 15px;
    margin-right: 12px;
}

.accesos a {
    color: inherit;
}

.accesos i {
    font-size: 20px;
}

/* -------------------- MAIN -------------------- */
/* --> Product <-- */
.product-main{
    display: flex;
    background-color: rgb(243, 255, 134);
}

.details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    margin-top: 10%;
    margin-bottom: 20%;
}

/* --> Imagen del <-- */
.product-main .product-image {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    align-items: flex-start;
    margin-top: 20%;
    margin-right: 3%;
    margin-left: 3%;
}

.product-main .product-image img {
    width: 100%;
    border-radius: 10px;
    border: solid 2px black;
}

/* --> Detalles <-- */
.details .product-name h1 {
    display: inline;
    font-size: 5vw;
    font-weight: bold;
}

.details .price {
    font-size: 4vw;
    color: green;
    margin-top: 7%;
    margin-bottom: 7%;
}
.details .description h3{
    font-size: 4vw;
}
.details .description p {
    font-size: 3.6vw;
}
.details .añadir {
   
    padding: 10px;
    right: 0;
}

/* -------------------- SECCION OTROS PRODUCTOS -------------------- */
.similar-products{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.similar-products .title{
    margin: 5%;
}
.similar-products .product-list-menu{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    justify-content: space-between;
}
.similar-products .product-list-menu .product {
    margin-bottom: 10%;
    border: 1px rgb(255, 107, 107) solid;
    padding: 3vw;
    border-radius: 10px;
}
.similar-products .product-list-menu .product img {
width: 220px;
height: 180px;
}