* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* -------------------- HEADER -------------------- */

.nav-bar {
    height: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    display: flex;
    margin-left: 10px;
}

.logo img {
    width: 80px;
}

.barra-de-busqueda {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex-grow: 1;
}

.buscar {
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
}

.icono-busqueda {
    padding: 8px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
}

.accesos {
    list-style: none;
    display: flex;
    width: 100px;
    justify-content: space-around;
    gap: 15px;
    margin-right: 12px;
}

.accesos a {
    color: inherit;
}

.accesos i {
    font-size: 20px;
}

/* -------------------- MAIN -------------------- */
/* --> Product <-- */
.product-main {
    display: flex;
    background-color: rgb(243, 255, 134);
}

.details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    margin-top: 10%;
    margin-bottom: 20%;
}

/* --> Imagen del <-- */
.product-main .product-image {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    align-items: flex-start;
    margin-top: 20%;
    margin-right: 3%;
    margin-left: 3%;
}

.product-main .product-image img {
    width: 23vw;
    border-radius: 10px;
    border: solid 2px black;
}

/* --> Detalles <-- */
.details .product-name h1 {
    display: inline;
    font-size: 5vw;
    font-weight: bold;
}

.details .price {
    font-size: 4vw;
    color: green;
    margin-top: 7%;
    margin-bottom: 7%;
}

.details .description h3 {
    font-size: 4vw;
}

.details .description p {
    font-size: 3.6vw;
}

.details .añadir {

    padding: 10px;
    right: 0;
}

/* -------------------- SECCION OTROS PRODUCTOS -------------------- */
.similar-products {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.similar-products .title {
    margin: 5%;
}

.similar-products .product-list-menu {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    justify-content: space-between;
}

.similar-products .product-list-menu .product {
    margin-bottom: 10%;
    margin-right: 2vw;
    border: 1px black solid;
    padding: 2.5vw;
    border-radius: 10px;

}

.similar-products .product-list-menu .product img {
    width: 230px;
    height: 180px;
}

/* ------------------> Commets/Reviews section <------------------*/

.reviews {
    display: flex;
    flex-wrap: wrap;
}

.reviews .title {
    margin: auto;
    font-size: 4.5vw;
}

.reviews .container-rate-product {
    display: flex;
    width: 100%;
    text-align: center;
}

.reviews .rate-stars {

    margin: auto;
    width: 100%;
    font-size: 4vw;
    margin-top: 5%;
    margin-bottom: 5%;

}

.reviews .rate-stars i {
    color: goldenrod;
}

.reviews .rate-number {
    font-weight: bold;
    margin-left: 5%;
    display: inline;
    font-size: 4.5vw;
    color: rgb(52, 166, 52);
}

.reviews .comment-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.reviews .comment-section .comment-example {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    background-color: rgba(195, 188, 188, 0.762);
    width: 47%;
    height: 30vh;

    margin-bottom: 5%;
    border-radius: 15px;
    padding: 5%;
}

.reviews .comment-section .comment-example .comment-stars {
    font-size: 3vw;
    margin: auto;
    color: goldenrod;
}

.reviews .comment-section .comment-example .title-comment {
    margin: auto;
    font-size: 135%;
}

/*---------------------> Secccion para dejar el comentario <---------------------*/
.leave-a-comment {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 5%;
    justify-content: space-between;
}

.leave-a-comment .input-comment {
    width: 90%;
    height: 50vh;
}
.leave-a-comment .button-box {
    width: 100%;
}
.leave-a-comment .button-send {
    position: relative;
    width: 20%;
    height: 5vh;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*---------------------> Footer <---------------------*/

footer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.contactos {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-contactos {
    text-align: center;
    padding: 10px 0;
}

.cuentas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.informacion {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-left: 1px solid #eee;
}

.informacion a {
    text-align: center;
}

