* {
    box-sizing: border-box;
}
body{
    background-image: url(/img/ilya-mashkov-mkVa2hLJgnI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 5;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Titulo Principal */
.main-title {
    font-size: 3em;
    padding-left: 1.5em;
    margin-top: 2em;
    color: #ffffff;
    text-align: center;
    animation: bounce 10s ease-in-out infinite; 
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


/* Iconos de modos*/
.modos {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.img1 {
    height: 100px;
    width: 100px;
}

.img2 {
    height: 110px;
    width: 150px;
}

/* Campos para llenar datos y sus contenedores */
.main-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    margin-bottom: 100px;
}

.main-container form {
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0);
    border-radius: 20px;
    background-color: #ff0000;
    width: 45%;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.9;
}

.container {
    width: 50%;
    margin-bottom: 20px;
}

.container input {
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    z-index: 1;
    border: 3px solid #b5b4b4;
}

.container input:focus {
    outline: none;
    border-color: rgb(255, 0, 0);
}

.submit-button {
    width: 70%;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.submit-button input {
    color: white;
    font-weight: bold;
    font-size: 1em;
    background-color: rgb(5, 51, 255);
    border-radius: 25px;
    border: 2px rgb(5, 51, 255) solid;
    width: 50%;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.logo-imagen {
    float: left; 
    margin-right: 10px; 
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
}

.contactos,
.informacion {
    margin-top: 10px;
}

.cuentas a {
    display: block; 
    margin-bottom: 5px; 
}

.submit-button input:hover {
    background-color: blue;
    border-color: blue;
}

.submit-button input:focus {
    outline: none;
    border-color: rgb(0, 0, 0);
}

.forgot-password {
    margin-top: 15px;
    margin-bottom: 50px;
}

.forgot-password a {
    text-decoration: none;
    color: black;
}

.forgot-password a:hover {
    text-decoration: underline;
    color: blue;
}

@media (max-width: 790px) {
    .submit-button input {
        width: 80%;
        font-size: 13px;
    }
}

@media (max-width:480px) {
    .modos {
        width: 75%;
    }

    .img1 {
        margin-left: 15px;
    }

    .container {
        width: 70%;
    }

    .remember-button {
        width: 70%;
    }

    .submit-button {
        font-size: 10px;
        width: 70%;
    }

    .forgot-password {
        width: 70%;
    }
}