body{
    box-sizing: content-box;
}

.form-section{
    padding-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    margin-bottom: 100px;
}
.form-section .registro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 10px 1px black ;
    background-color: #efff62;
    padding: 35px;
    width: 40%;
    height: 100%;
}
.registro label{
    font-size: large;
}
.registro input{
    border: 1px solid gray;
    font-size: large;
    width: 80%;
    padding: 5px;
    margin-top: 10px ;
    margin-bottom: 5px;
}
.boton{
    display: flex;
    justify-content: end;
}
.boton input{
    border:none;
    color: white;
    background-color: rgb(5, 51, 255);
    margin-top: 25px;
    border-radius:8px;
    font-size: 80%;
    padding: 5px;
    height: 50px;
    width: 130px;
}

.boton input:hover{
    outline: none;
    background-color: blue;
}
.login-link{
    display: flex;
    justify-content: end;
}
.login-link a{
    margin-top: 15px;
    text-decoration: none;
    color: black;
}
.login-link a:hover{
    color: blue;
    text-decoration: underline;
}

@media (max-width:780px){
    .form-section{
        margin-bottom: 120px;
        height: 100vh;
    }
    .login-link a{
        font-size: 15px;
    }
}