<!DOCTYPE html>
<html>

<head>
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/carrito.css">
</head>

<%- include('partials/header.ejs')%>

<body>
    <!-- Carrusel Imagenes Footer -->
<div id="carousel-container">
    <img id="carousel-image" src="/img/image1.jpg">
    <div id="carousel-text">TU CARRITO DE COMPRAS APPETITE</div>
</div>

<!-- Carrusel Animacion Footer -->
<script>
    const images = ["/img/image1.jpg", "/img/image2.jpeg", "/img/image3.jpeg"];
    let currentIndex = 0;

    function showNextImage() {
        currentIndex++;
        if (currentIndex >= images.length) {
            currentIndex = 0;
        }
        showImage(currentIndex);
    }

    function showImage(index) {
        document.getElementById("carousel-image").src = images[index];
    }

    // Cambiar imagen 1seg.
    setInterval(showNextImage, 1000);
</script>
        <section>
            <acrticle>
                <h1>Visitas</h1>
                <h2>Contador: <%= count %></h2>
                <script>
                    


    <!-- Contenedor de productos -->
    <div class="productos-container">
        <!-- Producto 1 -->
            <div class="producto">
                <div class="producto-info">
                    <img src="/img/hamburguesa.jpg" alt="Pizza">
                    <div class="producto-detalle">
                        <h2 class="descripciones">
                        </h2>
                        <p class="precios"></p>
                        <p class="descuentos">Nuestras hamburguesas son deliciosas y accesibles, hechas con
                            ingredientes de alta calidad para garantizar el mejor sabor en cada bocado</p>
                        <!-- Contenedor de los botones y el contador -->
                        <div class="cantidad-productos">
                            <button class="disminuir-btn">Menos Productos</button>
                            <span class="contador">1</span>
                            <button class="aumentar-btn">Mas Productos</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <button class="empty-btn">Eliminar Producto<i class="fas fa-trash"></i></button>
       



                </script>
            </acrticle>
        </section>
        <%- include('partials/footer.ejs') %>
