<!DOCTYPE html>
<html>

<head>
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/carrito.css">
</head>

<%- include('partials/header.ejs')%>

<body>
    <%- include('partials/carrousel.ejs')%>

    <!-- Contenedor de productos -->
    <div class="productos-container">
        <!-- Producto 1 -->
            <div class="producto">
                <div class="producto-info">
                    <div class="img-container">
                        <img src="/img/menu-del-dia/lampriado.jpg" alt="Lampreado">
                    </div>
                    <div class="producto-detalle">
                        <h2 class="descripciones"> Lampreado
                        </h2>
                        <p class="precios">
                            <i class="fa-solid fa-dollar-sign"></i>
                            2750

                        </p>
                        <p class="descuentos"> El lampreado o payaguá mascada es un platillo de la gastronomía de Paraguay. Está hecho de mandioca, carne molida, ajo, cebolla y aceite. Pueden existir variaciones que incluyan grasa vacuna o porcina, almidón y la mezcla de mandioca con carne cruda. El lampreado es conocido por su durabilidad, siendo ideal para viajeros, ya que puede conservarse por varios días.
                        </p>
                        <!-- Contenedor de los botones y el contador -->
                        <div class="cantidad-productos" id="count">
                            <form action="/carrito/restar" method="GET">
                                <button type="submit" class="disminuir-btn">Menos productos</button>
                            </form>
                            <span class="contador"><%= count %></span>
                            <form action="/carrito/agregar" method="GET">
                                <button type="submit" class="aumentar-btn">Mas productos</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="/">
            <button class="empty-btn">Eliminar Producto<i class="fas fa-trash"></i>
            </button>
        </a>
        <a href="/confirmation">
            <button class="buy-btn">Comprar Producto<i class="fa-solid fa-cart-shopping"></i></button>
        </a>
        <%- include('partials/footer.ejs') %>
