<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/create.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Crear producto</title>
</head>
<body>

    <%- include('partials/header.ejs') %>

<main>
    <section class="create">
        <form action="/productos/crear/<%= id %>" method="post">
            <div>
            <label for="Nombre">Nombre</label>
        <input class="input" type="text" name="nombre" placeholder="Ingresar Nombre del producto..."></input>
        </div>
        
        <div>
            <label for="Categoría">Categoría</label>
            <input type="text" name="categoria" placeholder="Ingresar Categoría del nuevo producto..."></input>
        </div>

        <div>
            <label for="Descripción">Descripción</label>
        <input type="text" name="descripcion" placeholder="Ingresar Descripción del nuevo producto..."></input>
        </div>

        <div>
            <label for="Precio">Precio  $</label>
            <input type="number" name="precio" placeholder="Ingresar Precio del nuevo producto..."></input>
        </div>
        
        <div>
            <label for="Imagen">Imagen</label>
        <input type="text" name="imagen" placeholder="Ingresar dirección de la imagen del producto..."></input>
        </div>
        
        <div class="button-container">
            <button type="submit">Crear producto</button>
        </div>
        
        </form>
    </section>
</main>

<%- include('partials/footer.ejs') %>

</body>
</html>