<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/create.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Crear producto</title>
</head>
<body>

    <%- include('partials/header.ejs') %>
    <main>
        <section class="create">
            <form action="/product/crear" method="POST" enctype="multipart/form-data">
            <div>
                <label for="nombre">Nombre:</label>
                <input class="input" type="text" name="nombre" placeholder="Ingresar Nombre del producto..."></input>
            </div>
            <div>
                <label>Categoria:</label>
                <select name="categoria" class="categoria">
                    <% for (let i= 0; i < categoria.length; i++) { %>
                        <option value="<%=categoria[i].id%>">
                            <%=categoria[i].nombre%>
                        </option>
                   <% } %>
                </select>
            </div>
    
            <div>
                <label for="descripci칩n">Descripci칩n:</label>
            <input type="text" name="descripcion" placeholder="Ingresar Descripci칩n del nuevo producto..."></input>
            </div>
    
            <div>
                <label for="precio">Precio:</label>
                <input type="number" name="precio" placeholder="Ingresar Precio del nuevo producto... $" ></input>
            </div>
            <div>
                <label for="images"> Seleccionar im치gen:</label>
                <input type="file" name="images" id="images" accept=".jpg, .jpeg, .png" required><br>
            </div>
            <div class="button-container">
                <button type="submit">Crear producto</button>
            </div>
            
            </form>
        </section>
    </main>
    
<%- include('partials/footer.ejs') %>

</body>
</html>