<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    
    <form action="" method="POST">
    
    <label for="Nombre">Nombre</label>
    <input type="text" name="Nombre"></input>
    <br>
    <label for="Descripción">Descripción</label>
    <input type="text" name="Descripción"></input>
    <br>
    
    <label for="Imagen">Imagen</label>
    <input type="file" name="Imagen"></input>
    <br>
    
    <label for="Precio">Precio  $</label>
    <input type="number" name="Precio"></input>
    <br>
    
    <label for="Categoría">Categoría</label>
    <input type="text" name="Categoría"></input>
    
    <br>
    <button type="submit">Crear producto</button>
    </form>
    
    <%- include('partials/footer.ejs') %>
</body>
</html>