<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/editform.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partial/header.ejs') %>
    <main>
        <form action="" method="POST" class="formulario">
            <section class="product-information">
                <h2>Editar Producto : <%= productoelegido.producto %></h2>
                <div>
                    <img class="product-image" src="<%= productoelegido.img %>" >
                </div>

                

            </section> 

            <section class="edit">
                <div class="form">
                    <label for="Nombre">Nombre</label>
                <input class="input" type="text" name="Nombre" placeholder="Editar Nombre producto..."></input>
                <br>
                </div>
    
                <div>
                    <label for="Descripción">Descripción</label>
                <input type="text" name="Descripción" placeholder="Editar Descripción del producto..."></input>
                <br>
                </div>
                
                <div>
                    <label for="Imagen">Imagen</label>
                <input type="image" name="Imagen" placeholder="Editar Imagen del producto..."></input>
                <br>
                </div>
                
                <div>
                    <label for="Precio">Precio  $</label>
                    <input type="number" name="Precio"placeholder="Editar Precio del producto..."></input>
                    <br>
                </div>
                
                <div>
                    <label for="Categoría">Categoría</label>
                    <input type="text" name="Categoría" placeholder="Editar Categoría del producto..."></input>
                    <br>
                </div>
                
                <div>
                    <button type="submit">Crear producto</button>
                </div>
                
                </form>

            </section>
            
    </main>
    
    
    <%- include('partial/footer.ejs') %>
    
</body>
</html>