<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/index.css">
    <title>Appetite</title>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <main>
        <div class="banner">
            <img src="img/banner.png" alt="banner">
        </div>

        <section class="categorias">
            <h3 class="texto-categorias">Categorías</h3>

            <article class="categorias-producto">
                <div>
                    <img src="img/categorias/pizza.jpeg" alt="Categoría nombre" class="img-categoria">
                </div>

                <h4 class="nombre-categoria">Pizzas</h4>
            </article>

            <article class="categorias-producto">
                <div>
                    <img src="img/categorias/hamburguesa.jpeg" alt="Categoría nombre" class="img-categoria">
                </div>

                <h4 class="nombre-categoria">Hamburguesas</h4>
            </article>

            <article class="categorias-producto">
                <div>
                    <img src="img/categorias/sandwich.jpeg" alt="Categoría nombre" class="img-categoria">
                </div>

                <h4 class="nombre-categoria">Sándwiches</h4>
            </article>

            <article class="categorias-producto">
                <div>
                    <img src="img/categorias/empanadas.jpg" alt="Categoría nombre" class="img-categoria">
                </div>

                <h4 class="nombre-categoria">Empanadas</h4>
            </article>

            <article class="categorias-producto">
                <div>
                    <img src="img/categorias/papas-fritas.jpeg" alt="Categoría nombre" class="img-categoria">
                </div>

                <h4 class="nombre-categoria">Papas fritas</h4>
            </article>
        </section>

        <section class="menu-del-dia">
            <h3 class="texto-menu">Menú del día</h3>

            <article class="menu-producto">
                <div>
                    <img src="img/menu-del-dia/lampriado.jpg" alt="Producto" class="img-menu">
                </div>

                <p class="descripcion">
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    2000
                </h5>

                <button class="añadir">
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>

            <article class="menu-producto">
                <div>
                    <img src="img/menu-del-dia/milanesa-con-papas.jpg" alt="Producto" class="img-menu">
                </div>

                <p class="descripcion">
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    2000
                </h5>

                <button class="añadir">
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>

            <article class="menu-producto">
                <div>
                    <img src="img/menu-del-dia/pollo-con-papas.jpg" alt="Producto" class="img-menu">
                </div>

                <p class="descripcion">
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    2000
                </h5>

                <button class="añadir">
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>

            <article class="menu-producto">
                <div>
                    <img src="img/menu-del-dia/ensalada.jpg" alt="Producto" class="img-menu">
                </div>

                <p class="descripcion">
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    2000
                </h5>

                <button class="añadir">
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>
        </section>

        <section class="combos">
            <h3 class="texto-combos">Combos</h3>

            <article class="combos-producto">
                <div class="div-img-combo">
                    <img src="img/combos/hamburguesa-con-papas.png" alt="Producto" class="img-combo">
                </div>

                <h4 class="combo-nombre">Hamburguesa con papas</h4>

                <p class="descripcion">
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    2000
                </h5>

                <button class="añadir">
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>
            
            <article class="combos-producto">
                <div class="div-img-combo">
                    <img src="img/combos/pizza-con-coca.jpg" alt="Producto" class="img-combo">
                </div>

                <h4 class="combo-nombre">Pizza con Coca-Cola</h4>

                <p class="descripcion">
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    2000
                </h5>

                <button class="añadir">
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>

            <article class="combos-producto">
                <div>
                    <img src="img/combos/pollo-con-ensalada.jpg" alt="Producto" class="img-combo">
                </div>

                <h4 class="combo-nombre">Pechuga de pollo con ensalada rusa</h4>

                <p class="descripcion">
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    2000
                </h5>

                <button class="añadir">
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>

            <article class="combos-producto">
                <div>
                    <img src="img/combos/papas-con-coca.png" alt="Producto" class="img-combo">
                </div>

                <h4 class="combo-nombre">Papas fritas con Coca-Cola</h4>

                <p class="descripcion">
                    Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iusto!
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    2000
                </h5>

                <button class="añadir">
                    <i class="fa-solid fa-cart-plus"></i>
                    Agregar
                </button>
            </article>
        </section>
    </main>

    <%- include('partials/footer.ejs') %>
</body>
</html>