<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include('partials/header.ejs') %>

<main class="formulario">

    <div class="none">Iniciar sesión con:</div>
<div class="modos">
    <img class="img1" src="/img/google.svg" alt="" weigth="100px" height="100px">
    <img class="img2" src="/img/facebook.svg" alt="" weigth="110px" height="110px">
</div>
<div class="container">

<div class="modo1"><form action="">
    <input type="text" placeholder="E-mail o nombre de usuario" class="formdelusuario">
</form>
<input type="radio" name="completar">
    <label for="completar">"jxskjxsijcs@xgmail.com"</label>

<div>
    <input type="radio" name="completar">
    <label for="completar">"jsjaisads@xgmail.com"</label>
</div>

<div>
    <input type="radio" name="completar">
    <label for="completar">"Gestionar cuentas"</label>
</div>
</div>


<div class="container2"><form action="">
    <input type="Password" placeholder="Contraseña" class="formdelpassword">
</form>
    <input type="radio" name="mensaje">
    <label for="mensaje">********** Completar contraseña</label>
</div>

    <div class="Pregunta"><a href="#">¿Olvidaste tu contraseña?</a></div>
</div>

</main>

    <%- include('partials/footer.ejs') %>
</body>
</html>
