<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <div class="login-box"></div>
    <%- include('partials/header.ejs') %>

    <main class="formulario">
    <h1 class="main-title">INICIAR SESI游꼢N CON</h1>
    <%- include('partials/login-register-modes.ejs') %>
    <section class="main-container">
        <form action="/loginpost" method="POST">

            <div class="container">
                <label>Introduzca su E-mail</label>
                <input type="text" placeholder="E-mail o nombre de usuario" class="username-field" name="email">
            </div>

            <div class="container">
                <label>Contrase침a</label>
                <input type="password" placeholder="Contrase침a" class="password-field" name="password">
            </div>

            <div class="remember-button">
                <input type="checkbox" name="remember" value="true" >Recordar sesi칩n
            </div>

            <div class="submit-button">
                <input type="submit" value="Iniciar Sesion">
            </div>

            <div class="forgot-password">
                <a href="#">쯆lvidaste tu contrase침a?</a>
            </div>
        </form>
    </section>
</main>

    <%- include('partials/footer.ejs') %>
</body>
</html>
