<head>
    <link rel="stylesheet" href="/css/partials/footer.css">
</head>
<footer>
    
    <img src="/grupo_6_appetite/" alt="">
    <section class="contactos">
        <h3 class="texto-contactos">Contactanos</h3>
        
        <div class="cuentas">
            <a href="#">
                <i class="fa-brands fa-twitter"></i>
                cuenta2023@twitter.com
            </a>

            <a href="#">
                <i class="fa-brands fa-facebook"></i>
                cuenta2023@facebook.com
            </a>

            <a href="https://www.instagram.com/appetite514?igshid=MTNiYzNiMzkwZA==">
                <i class="fa-brands fa-instagram"></i>
                APPETITE
            </a>

            <a href="#">
                <i class="fa-solid fa-phone"></i>
                +00 0 0000000000
            </a>
        </div>
    </section>

    <section class="informacion">
        <a href="#">Más sobre nosotros</a>
        <a href="#">Términos y condiciones</a>
        <a href="#">Política de privacidad</a>
        &#169; 
        &#8482;
    </section>
</footer>