<head>
    <link rel="stylesheet" href="/css/partials/header.css">
</head>
<header>
    <nav class="nav-bar">
        <div class="logo">
          <a href="/">  <img src="/img/logo.png" alt="logo"> </a>
        </div>

        <form action="" class="barra-de-busqueda">
            <input type="" name="" id="" placeholder="Buscar producto" class="buscar">
            <button class="icono-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <ul class="accesos">
            <li>
                <a href="/products"><i class="fa-solid fa-burger"></i></a>
            </li>

            <li>
                <a href="/register"><i class="fa-solid fa-circle-user"></i></a>
            </li>

            <li>
                <a href="#"><i class="fa-solid fa-bars"></i></a>
            </li>
        </ul>
    </nav>
</header>