<head>
    <link rel="stylesheet" href="/css/partials/login-register-modes.css"></link>
</head>
<div class="modos">
<a href="#">
    <img class="img1" src="/img/google-logo.png" alt="">
</a>
<a href="#">
    <img class="img2" src="/img/facebook-logo.png" alt="">
</a>
</div>