* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
    color: white;
    border-top: 2px solid black;
    padding: 20px;
}

.contactos,
.informacion {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.texto-contactos,
.informacion a {
    text-align: center;
}

.cuentas,
.informacion {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cuentas a,
.informacion a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contactos {
    height: 100%;
}


@media (max-width: 768px) {
    .contactos,
    .informacion {
        width: 100%;
    }
}

.fa-brands {
    font-size: 24px; 
    margin-right: 8px;
}


.informacion a:hover{
    color: #ffd700;
}
.cuentas a:hover{
    color: #007bff;
}

.cuentas a:hover .fa-brands {
    transform: rotate(360deg);
    transition: transform 0.8s ease;
}

.fa-google{
    color: #333;
}
.cuentas a:hover .fa-google{
    color:#ffd700; 
}

.fa-instagram{
    color:#333;
}
.cuentas a:hover .fa-instagram{
    color:#c13584; 
}

.fa-facebook{
    color: #333;
}
.cuentas a:hover .fa-facebook{
    color:#1100ff; 
}

.fa-twitter{
    color: #333;
}

.cuentas a:hover .fa-twitter{
    color:#007bff; 
}

.fa-phone{
    color: #333;
}

.fa-phone a:hover {
    color:#007bff; 
}

.fa-google{
    color: #333;
}

.cuentas a:hover .fa-phone{
    color:#23e720; 
}

.cuentas a:hover .fa-phone {
    transform: rotate(360deg);
    transition: transform 0.8s ease;
}