* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
    color: white;
    border-top: 2px solid black;
    padding: 20px;
}

.contactos,
.informacion {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.texto-contactos,
.informacion a {
    text-align: center;
}

.cuentas,
.informacion {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cuentas a,
.informacion a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.cuentas a:hover,
.informacion a:hover {
    color: #ffd700;
}


.contactos {
    height: 100%;
}


@media (max-width: 768px) {
    .contactos,
    .informacion {
        width: 100%;
    }
}
