.main-title{
    font-size: 50px;
    padding-left: 30px;
    margin-top: 30px;
}

.modos {
    display: flex;
  }
  
  .img1,
  .img2 {
    width: 100px; 
    height: 100px;
    margin: 10px; 
    transition: transform 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
  }
  
  .img1:hover,
  .img2:hover {
    transform: rotate(360deg);
  }
  
.modos{
    width:50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.img1{
    height: 100px;
    width: 100px;

}
.img2 {
    height: 110px;
    width: 150px;
}

@media (max-width:480px){
    .modos{
        width: 75%;
    }
    .img1{
        margin-left: 15px;
    }
}